Step 1: Import the Required Libraries

In [22]:
import pandas as pd
import numpy as np

Step 2: Load the Dataset

In [14]:
df = pd.read_csv('sample_data.csv')

Step 3: Explore the Dataset

In [19]:
df.head()
# df.shape
# df.dtypes

   Employee_ID             Name   Age  Salary Department
0            1       John Smith  32.0  5000.0         HR
1            2         Jane Doe  28.0  5250.0  Marketing
2            3  Michael Johnson  35.0  5500.0         IT
4            5        David Lee  40.0  6000.0         IT

Step 4: Handle Missing Data

In [18]:
df.isnull().sum()
#df['Salary'] = df.Salary.fillna(df.Salary.mean())
df = df.dropna()

Step 5: Handle Duplicate Data

In [20]:
df.duplicated().sum()

#df = df.drop_duplicates()

0

Step 6: Handle Outliers

In [25]:
z_scores = np.abs((df.Salary - df.Salary.mean())/df.Salary.std())

outlier = df[z_scores > 3]

df['Outlier'] = z_scores > 3
df

   Employee_ID             Name   Age  Salary Department  Outlier
0            1       John Smith  32.0  5000.0         HR    False
1            2         Jane Doe  28.0  5250.0  Marketing    False
2            3  Michael Johnson  35.0  5500.0         IT    False
4            5        David Lee  40.0  6000.0         IT    False

Step 7: Data Formatting

In [26]:
df.Age = df.Age.astype(int)

Step 8: Data Transformation

In [27]:
df['Salary Increase'] = df.Salary * 1.1

Step 9: Export the Cleaned Dataset

In [29]:
df.to_csv('clea_data.csv')